/* Allgemeine Style-Einstellungen (HTML, Body) */
html,body{
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin:0;
  padding:0;
  background: #ffffff;
  color: #000000;
  font-size:20px;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}


/* Startseite */
#start, #next{
  width: 6vw;
  padding: 0.5vw 0;
  border: 0.25vw solid #000000;
  box-sizing: border-box;
  border-radius: 1.5vw;
  font-size: 2vw;
  margin:0 0 1vw 0;
}
#start{
  width:10vw;
}
#next{
  display:none;
}

#points{
  width: 10vw;
  padding: 0.5vw 0;
  border: 0.25vw solid #000000;
  box-sizing: border-box;
  border-radius: 1.5vw;
  font-size: 2vw;
  margin:0 0 1vw 0;
}

#question{
  display: none;
  width: 80vw;
  padding: 0.5vw 0;
  border: 0.25vw solid #000000;
  box-sizing: border-box;
  border-radius: 1.5vw;
  font-size: 2vw;
  margin:0 0 1vw 0;
}

.answer{
  display: none;
  width: 80vw;
  padding: 0.5vw 0;
  border: 0.25vw solid #000000;
  box-sizing: border-box;
  border-radius: 1.5vw;
  font-size: 2vw;
  margin:0 0 1vw 0;
}